---
import { buttonVariants } from "@/components/ui/button";
import { siteConfig } from "@/config/site";
import MainLayout from "@/layouts/main-layout.astro";
import { Icon } from "astro-icon/components";
import CodeSample from "@/components/code-sample";
import HomeHero from "@/components/home-hero";
import { Image } from "astro:assets";
import "../components/prism.css";
import "../components/code-sample.scss";
---

<MainLayout title="Libreria para usar los web services de AFIP">
  <section class="overflow-hidden space-y-6 pb-12 pt-16 lg:py-28">
    <div
      class="mx-auto grid justify-center gap-4 md:max-w-[69rem] md:grid-cols-2"
    >
      <div class="container flex flex-col items-left gap-5 text-left">
        <HomeHero client:only />
      </div>

      <div class="px-5 md:px-0 py-5 md:py-0">
        <CodeSample client:only />
      </div>
    </div>
  </section>

  <section id="features" >
    <div class="py-32">
      <div class="container max-w-7xl">
        <div class="relative">
          <div class="relative z-10 grid grid-cols-6 gap-3">
            {/* First card */}
            <div
              class="relative col-span-full flex overflow-hidden rounded-2xl border bg-background p-8 lg:col-span-2"
            >
              <div class="relative m-auto size-fit">
                <div class="relative flex h-24 w-full items-center">
                  <svg
                    class="absolute inset-0 size-full text-muted-foreground/30"
                    viewBox="0 0 254 104"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M112.891 97.7022C140.366 97.0802 171.004 94.6715 201.087 87.5116C210.43 85.2881 219.615 82.6412 228.284 78.2473C232.198 76.3179 235.905 73.9942 239.348 71.3124C241.85 69.2557 243.954 66.7571 245.555 63.9408C249.34 57.3235 248.281 50.5341 242.498 45.6109C239.033 42.7237 235.228 40.2703 231.169 38.3054C219.443 32.7209 207.141 28.4382 194.482 25.534C184.013 23.1927 173.358 21.7755 162.64 21.2989C161.376 21.3512 160.113 21.181 158.908 20.796C158.034 20.399 156.857 19.1682 156.962 18.4535C157.115 17.8927 157.381 17.3689 157.743 16.9139C158.104 16.4588 158.555 16.0821 159.067 15.8066C160.14 15.4683 161.274 15.3733 162.389 15.5286C179.805 15.3566 196.626 18.8373 212.998 24.462C220.978 27.2494 228.798 30.4747 236.423 34.1232C240.476 36.1159 244.202 38.7131 247.474 41.8258C254.342 48.2578 255.745 56.9397 251.841 65.4892C249.793 69.8582 246.736 73.6777 242.921 76.6327C236.224 82.0192 228.522 85.4602 220.502 88.2924C205.017 93.7847 188.964 96.9081 172.738 99.2109C153.442 101.949 133.993 103.478 114.506 103.79C91.1468 104.161 67.9334 102.97 45.1169 97.5831C36.0094 95.5616 27.2626 92.1655 19.1771 87.5116C13.839 84.5746 9.1557 80.5802 5.41318 75.7725C-0.54238 67.7259 -1.13794 59.1763 3.25594 50.2827C5.82447 45.3918 9.29572 41.0315 13.4863 37.4319C24.2989 27.5721 37.0438 20.9681 50.5431 15.7272C68.1451 8.8849 86.4883 5.1395 105.175 2.83669C129.045 0.0992292 153.151 0.134761 177.013 2.94256C197.672 5.23215 218.04 9.01724 237.588 16.3889C240.089 17.3418 242.498 18.5197 244.933 19.6446C246.627 20.4387 247.725 21.6695 246.997 23.615C246.455 25.1105 244.814 25.5605 242.63 24.5811C230.322 18.9961 217.233 16.1904 204.117 13.4376C188.761 10.3438 173.2 8.36665 157.558 7.52174C129.914 5.70776 102.154 8.06792 75.2124 14.5228C60.6177 17.8788 46.5758 23.2977 33.5102 30.6161C26.6595 34.3329 20.4123 39.0673 14.9818 44.658C12.9433 46.8071 11.1336 49.1622 9.58207 51.6855C4.87056 59.5336 5.61172 67.2494 11.9246 73.7608C15.2064 77.0494 18.8775 79.925 22.8564 82.3236C31.6176 87.7101 41.3848 90.5291 51.3902 92.5804C70.6068 96.5773 90.0219 97.7419 112.891 97.7022Z"
                      fill="currentColor"></path>
                  </svg>
                  <span
                    class="text-gradient_indigo-purple mx-auto block w-fit font-heading text-5xl"
                  >
                    100%
                  </span>
                </div>
                <h2
                  class="mt-6 text-center font-heading text-3xl md:text-4xl lg:text-[40px]"
                >
                  Todos los web services
                </h2>
              </div>
            </div>

            {/* Second card */}
            <div
              class="relative col-span-full overflow-hidden rounded-2xl border bg-background p-8 sm:col-span-3 lg:col-span-2"
            >
              <div>
                <div
                  class="relative mx-auto flex aspect-square size-32 rounded-full border before:absolute before:-inset-2 before:rounded-full before:border before:bg-muted/20 dark:before:border-white/5"
                >
                  <svg
                    class="m-auto h-fit w-24"
                    viewBox="0 0 212 143"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      class="text-muted-foreground/30"
                      d="M44.0209 55.3542C43.1945 54.7639 42.6916 54.0272 42.5121 53.1442C42.3327 52.2611 42.5995 51.345 43.3125 50.3958C50.632 40.3611 59.812 32.5694 70.8525 27.0208C81.8931 21.4722 93.668 18.6979 106.177 18.6979C118.691 18.6979 130.497 21.3849 141.594 26.7587C152.691 32.1326 161.958 39.8936 169.396 50.0417C170.222 51.1042 170.489 52.0486 170.196 52.875C169.904 53.7014 169.401 54.4097 168.688 55C167.979 55.5903 167.153 55.8571 166.208 55.8004C165.264 55.7437 164.438 55.2408 163.729 54.2917C157.236 45.0833 148.885 38.0307 138.675 33.1337C128.466 28.2368 117.633 25.786 106.177 25.7812C94.7257 25.7812 83.9827 28.2321 73.948 33.1337C63.9132 38.0354 55.5903 45.0881 48.9792 54.2917C48.2709 55.3542 47.4445 55.9444 46.5 56.0625C45.5556 56.1806 44.7292 55.9444 44.0209 55.3542ZM126.188 142.656C113.91 139.587 103.875 133.476 96.0834 124.325C88.2917 115.173 84.3959 103.988 84.3959 90.7708C84.3959 84.8681 86.5209 79.9097 90.7709 75.8958C95.0209 71.8819 100.156 69.875 106.177 69.875C112.198 69.875 117.333 71.8819 121.583 75.8958C125.833 79.9097 127.958 84.8681 127.958 90.7708C127.958 94.6667 129.434 97.9439 132.385 100.602C135.337 103.261 138.819 104.588 142.833 104.583C146.847 104.583 150.271 103.256 153.104 100.602C155.938 97.9486 157.354 94.6714 157.354 90.7708C157.354 77.0764 152.337 65.566 142.302 56.2396C132.267 46.9132 120.285 42.25 106.354 42.25C92.4237 42.25 80.441 46.9132 70.4063 56.2396C60.3716 65.566 55.3542 77.0174 55.3542 90.5937C55.3542 93.4271 55.621 96.9687 56.1546 101.219C56.6882 105.469 57.9562 110.427 59.9584 116.094C60.3125 117.156 60.2842 118.101 59.8734 118.927C59.4625 119.753 58.7825 120.344 57.8334 120.698C56.8889 121.052 55.9752 121.024 55.0921 120.613C54.2091 120.202 53.5881 119.522 53.2292 118.573C51.4584 113.969 50.1905 109.395 49.4255 104.853C48.6605 100.31 48.2756 95.6158 48.2709 90.7708C48.2709 75.0694 53.9682 61.9062 65.363 51.2812C76.7577 40.6562 90.3624 35.3437 106.177 35.3437C122.115 35.3437 135.809 40.6562 147.26 51.2812C158.712 61.9062 164.438 75.0694 164.438 90.7708C164.438 96.6736 162.343 101.601 158.155 105.554C153.966 109.506 148.859 111.485 142.833 111.49C136.813 111.49 131.649 109.513 127.342 105.561C123.035 101.608 120.88 96.6783 120.875 90.7708C120.875 86.875 119.43 83.5978 116.54 80.9392C113.65 78.2805 110.196 76.9536 106.177 76.9583C102.163 76.9583 98.7089 78.2876 95.8142 80.9462C92.9195 83.6049 91.4745 86.8797 91.4792 90.7708C91.4792 102.222 94.8745 111.785 101.665 119.458C108.456 127.132 117.22 132.503 127.958 135.573C129.021 135.927 129.729 136.517 130.083 137.344C130.438 138.17 130.497 139.056 130.26 140C130.024 140.826 129.552 141.535 128.844 142.125C128.135 142.715 127.25 142.892 126.188 142.656ZM67.0417 18.3437C66.0973 18.934 65.1528 19.0828 64.2084 18.79C63.2639 18.4972 62.5556 17.8762 62.0834 16.9271C61.6112 15.9826 61.4931 15.1279 61.7292 14.3629C61.9653 13.5979 62.5556 12.9179 63.5 12.3229C70.1112 8.78125 77.0174 6.06597 84.2188 4.17708C91.4202 2.28819 98.7396 1.34375 106.177 1.34375C113.733 1.34375 121.111 2.25986 128.313 4.09208C135.514 5.92431 142.479 8.54986 149.208 11.9687C150.271 12.559 150.892 13.2674 151.071 14.0937C151.251 14.9201 151.161 15.7465 150.802 16.5729C150.448 17.3993 149.858 18.0486 149.031 18.5208C148.205 18.9931 147.201 18.934 146.021 18.3437C139.764 15.1563 133.299 12.7078 126.627 10.9983C119.954 9.28889 113.138 8.43181 106.177 8.42708C99.3299 8.42708 92.6007 9.22514 85.9896 10.8212C79.3785 12.4174 73.0625 14.9249 67.0417 18.3437ZM87.9375 140.177C80.9723 132.858 75.6314 125.392 71.915 117.78C68.1987 110.167 66.3381 101.164 66.3334 90.7708C66.3334 80.0278 70.2292 70.9658 78.0209 63.585C85.8125 56.2042 95.198 52.5161 106.177 52.5208C117.156 52.5208 126.601 56.2112 134.51 63.5921C142.42 70.9729 146.375 80.0325 146.375 90.7708C146.375 91.8333 146.052 92.6904 145.405 93.3421C144.758 93.9937 143.901 94.3172 142.833 94.3125C141.889 94.3125 141.063 93.989 140.354 93.3421C139.646 92.6951 139.292 91.8381 139.292 90.7708C139.292 81.9167 136.014 74.5099 129.46 68.5504C122.906 62.591 115.145 59.6089 106.177 59.6042C97.2049 59.6042 89.503 62.5862 83.0713 68.5504C76.6396 74.5146 73.4214 81.9214 73.4167 90.7708C73.4167 100.333 75.0695 108.451 78.375 115.123C81.6806 121.796 86.5209 128.494 92.8959 135.219C93.6042 135.927 93.9584 136.753 93.9584 137.698C93.9584 138.642 93.6042 139.469 92.8959 140.177C92.1875 140.885 91.3612 141.24 90.4167 141.24C89.4723 141.24 88.6459 140.885 87.9375 140.177ZM141.417 128.135C130.91 128.135 121.789 124.594 114.054 117.51C106.319 110.427 102.454 101.514 102.458 90.7708C102.458 89.8264 102.784 89 103.436 88.2917C104.088 87.5833 104.942 87.2292 106 87.2292C107.063 87.2292 107.92 87.5833 108.571 88.2917C109.223 89 109.546 89.8264 109.542 90.7708C109.542 99.625 112.729 106.885 119.104 112.552C125.479 118.219 132.917 121.052 141.417 121.052C142.125 121.052 143.129 120.993 144.427 120.875C145.726 120.757 147.083 120.58 148.5 120.344C149.563 120.108 150.479 120.256 151.248 120.79C152.018 121.324 152.519 122.119 152.75 123.177C152.986 124.122 152.809 124.948 152.219 125.656C151.629 126.365 150.861 126.837 149.917 127.073C147.792 127.663 145.934 127.989 144.342 128.05C142.751 128.112 141.776 128.14 141.417 128.135Z"
                      fill="currentColor"></path>
                    <g clip-path="url(#clip0_0_1)">
                      <path
                        d="M44.0209 55.3542C43.1945 54.7639 42.6916 54.0272 42.5121 53.1442C42.3327 52.2611 42.5995 51.345 43.3125 50.3958C50.632 40.3611 59.812 32.5694 70.8525 27.0208C81.8931 21.4722 93.668 18.6979 106.177 18.6979C118.691 18.6979 130.497 21.3849 141.594 26.7587C152.691 32.1326 161.958 39.8936 169.396 50.0417C170.222 51.1042 170.489 52.0486 170.196 52.875C169.904 53.7014 169.401 54.4097 168.688 55C167.979 55.5903 167.153 55.8571 166.208 55.8004C165.264 55.7437 164.438 55.2408 163.729 54.2917C157.236 45.0833 148.885 38.0307 138.675 33.1337C128.466 28.2368 117.633 25.786 106.177 25.7812C94.7257 25.7812 83.9827 28.2321 73.948 33.1337C63.9132 38.0354 55.5903 45.0881 48.9792 54.2917C48.2709 55.3542 47.4445 55.9444 46.5 56.0625C45.5556 56.1806 44.7292 55.9444 44.0209 55.3542ZM126.188 142.656C113.91 139.587 103.875 133.476 96.0834 124.325C88.2917 115.173 84.3959 103.988 84.3959 90.7708C84.3959 84.8681 86.5209 79.9097 90.7709 75.8958C95.0209 71.8819 100.156 69.875 106.177 69.875C112.198 69.875 117.333 71.8819 121.583 75.8958C125.833 79.9097 127.958 84.8681 127.958 90.7708C127.958 94.6667 129.434 97.9439 132.385 100.602C135.337 103.261 138.819 104.588 142.833 104.583C146.847 104.583 150.271 103.256 153.104 100.602C155.938 97.9486 157.354 94.6714 157.354 90.7708C157.354 77.0764 152.337 65.566 142.302 56.2396C132.267 46.9132 120.285 42.25 106.354 42.25C92.4237 42.25 80.441 46.9132 70.4063 56.2396C60.3716 65.566 55.3542 77.0174 55.3542 90.5937C55.3542 93.4271 55.621 96.9687 56.1546 101.219C56.6882 105.469 57.9562 110.427 59.9584 116.094C60.3125 117.156 60.2842 118.101 59.8734 118.927C59.4625 119.753 58.7825 120.344 57.8334 120.698C56.8889 121.052 55.9752 121.024 55.0921 120.613C54.2091 120.202 53.5881 119.522 53.2292 118.573C51.4584 113.969 50.1905 109.395 49.4255 104.853C48.6605 100.31 48.2756 95.6158 48.2709 90.7708C48.2709 75.0694 53.9682 61.9062 65.363 51.2812C76.7577 40.6562 90.3624 35.3437 106.177 35.3437C122.115 35.3437 135.809 40.6562 147.26 51.2812C158.712 61.9062 164.438 75.0694 164.438 90.7708C164.438 96.6736 162.343 101.601 158.155 105.554C153.966 109.506 148.859 111.485 142.833 111.49C136.813 111.49 131.649 109.513 127.342 105.561C123.035 101.608 120.88 96.6783 120.875 90.7708C120.875 86.875 119.43 83.5978 116.54 80.9392C113.65 78.2805 110.196 76.9536 106.177 76.9583C102.163 76.9583 98.7089 78.2876 95.8142 80.9462C92.9195 83.6049 91.4745 86.8797 91.4792 90.7708C91.4792 102.222 94.8745 111.785 101.665 119.458C108.456 127.132 117.22 132.503 127.958 135.573C129.021 135.927 129.729 136.517 130.083 137.344C130.438 138.17 130.497 139.056 130.26 140C130.024 140.826 129.552 141.535 128.844 142.125C128.135 142.715 127.25 142.892 126.188 142.656ZM67.0417 18.3437C66.0973 18.934 65.1528 19.0828 64.2084 18.79C63.2639 18.4972 62.5556 17.8762 62.0834 16.9271C61.6112 15.9826 61.4931 15.1279 61.7292 14.3629C61.9653 13.5979 62.5556 12.9179 63.5 12.3229C70.1112 8.78125 77.0174 6.06597 84.2188 4.17708C91.4202 2.28819 98.7396 1.34375 106.177 1.34375C113.733 1.34375 121.111 2.25986 128.313 4.09208C135.514 5.92431 142.479 8.54986 149.208 11.9687C150.271 12.559 150.892 13.2674 151.071 14.0937C151.251 14.9201 151.161 15.7465 150.802 16.5729C150.448 17.3993 149.858 18.0486 149.031 18.5208C148.205 18.9931 147.201 18.934 146.021 18.3437C139.764 15.1563 133.299 12.7078 126.627 10.9983C119.954 9.28889 113.138 8.43181 106.177 8.42708C99.3299 8.42708 92.6007 9.22514 85.9896 10.8212C79.3785 12.4174 73.0625 14.9249 67.0417 18.3437ZM87.9375 140.177C80.9723 132.858 75.6314 125.392 71.915 117.78C68.1987 110.167 66.3381 101.164 66.3334 90.7708C66.3334 80.0278 70.2292 70.9658 78.0209 63.585C85.8125 56.2042 95.198 52.5161 106.177 52.5208C117.156 52.5208 126.601 56.2112 134.51 63.5921C142.42 70.9729 146.375 80.0325 146.375 90.7708C146.375 91.8333 146.052 92.6904 145.405 93.3421C144.758 93.9937 143.901 94.3172 142.833 94.3125C141.889 94.3125 141.063 93.989 140.354 93.3421C139.646 92.6951 139.292 91.8381 139.292 90.7708C139.292 81.9167 136.014 74.5099 129.46 68.5504C122.906 62.591 115.145 59.6089 106.177 59.6042C97.2049 59.6042 89.503 62.5862 83.0713 68.5504C76.6396 74.5146 73.4214 81.9214 73.4167 90.7708C73.4167 100.333 75.0695 108.451 78.375 115.123C81.6806 121.796 86.5209 128.494 92.8959 135.219C93.6042 135.927 93.9584 136.753 93.9584 137.698C93.9584 138.642 93.6042 139.469 92.8959 140.177C92.1875 140.885 91.3612 141.24 90.4167 141.24C89.4723 141.24 88.6459 140.885 87.9375 140.177ZM141.417 128.135C130.91 128.135 121.789 124.594 114.054 117.51C106.319 110.427 102.454 101.514 102.458 90.7708C102.458 89.8264 102.784 89 103.436 88.2917C104.088 87.5833 104.942 87.2292 106 87.2292C107.063 87.2292 107.92 87.5833 108.571 88.2917C109.223 89 109.546 89.8264 109.542 90.7708C109.542 99.625 112.729 106.885 119.104 112.552C125.479 118.219 132.917 121.052 141.417 121.052C142.125 121.052 143.129 120.993 144.427 120.875C145.726 120.757 147.083 120.58 148.5 120.344C149.563 120.108 150.479 120.256 151.248 120.79C152.018 121.324 152.519 122.119 152.75 123.177C152.986 124.122 152.809 124.948 152.219 125.656C151.629 126.365 150.861 126.837 149.917 127.073C147.792 127.663 145.934 127.989 144.342 128.05C142.751 128.112 141.776 128.14 141.417 128.135Z"
                        fill="url(#paint0_linear_0_1)"></path>
                    </g>
                    <path
                      class="text-primary"
                      d="M3 72H209"
                      stroke="currentColor"
                      stroke-width="6"
                      stroke-linecap="round"></path>
                    <defs>
                      <linearGradient
                        id="paint0_linear_0_1"
                        x1="106.385"
                        y1="1.34375"
                        x2="106"
                        y2="72"
                        gradientUnits="userSpaceOnUse"
                      >
                        <stop stop-color="purple" stop-opacity="0"></stop>
                        <stop
                          class="text-indigo-600"
                          offset="1"
                          stop-color="currentColor"></stop>
                      </linearGradient>
                      <clip-path id="clip0_0_1">
                        <rect
                          width="129"
                          height="72"
                          fill="white"
                          class="fill-indigo-500 opacity-100"
                          transform="translate(41)"></rect>
                      </clip-path>
                    </defs>
                  </svg>
                </div>
                <div class="relative z-10 mt-8 space-y-1.5 text-center">
                  <h2 class="text-lg font-medium text-foreground">
                    Autenticación
                  </h2>
                  <p class="text-muted-foreground">
                    Se encarga automáticamente de la autenticación al <a
                      href="https://www.afip.gob.ar/ws/documentacion/wsaa.asp"
                      target="_blank"
                      rel="noopener noreferrer"><u>WSAA</u></a
                    >.
                  </p>
                </div>
              </div>
            </div>

            {/* Third card */}
            <div
              class="relative col-span-full overflow-hidden rounded-2xl border bg-background p-8 sm:col-span-3 lg:col-span-2"
            >
              <div>
                <div>
                  <svg
                    class="h-32 w-full"
                    viewBox="0 0 386 123"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <rect width="386" height="123" rx="10"></rect>
                    <g clip-path="url(#clip0_0_106)">
                      <circle
                        class="text-primary"
                        cx="29"
                        cy="29"
                        r="15"
                        fill="currentColor"></circle>
                      <path
                        d="M29 23V35"
                        class="stroke-white dark:stroke-black"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                      <path
                        class="stroke-white dark:stroke-black"
                        d="M35 29L29 35L23 29"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                      <path
                        d="M58.2955 31H54.9684V21.1818H58.3626C59.3374 21.1818 60.1747 21.3784 60.8746 21.7715C61.5778 22.1614 62.1179 22.7223 62.495 23.4542C62.8722 24.1861 63.0607 25.0618 63.0607 26.0813C63.0607 27.104 62.8706 27.983 62.4902 28.718C62.1131 29.4531 61.5682 30.0172 60.8555 30.4103C60.146 30.8034 59.2926 31 58.2955 31ZM56.747 29.4611H58.2092C58.8931 29.4611 59.4636 29.3365 59.9206 29.0872C60.3777 28.8347 60.7212 28.4592 60.9513 27.9606C61.1815 27.4588 61.2965 26.8324 61.2965 26.0813C61.2965 25.3303 61.1815 24.707 60.9513 24.2116C60.7212 23.7131 60.3809 23.3407 59.9302 23.0946C59.4828 22.8453 58.9267 22.7207 58.2619 22.7207H56.747V29.4611ZM69.0139 31.1438C68.2756 31.1438 67.638 30.9904 67.101 30.6836C66.5673 30.3736 66.1566 29.9357 65.869 29.37C65.5813 28.8011 65.4375 28.1316 65.4375 27.3613C65.4375 26.6039 65.5813 25.9391 65.869 25.367C66.1598 24.7917 66.5657 24.3443 67.0867 24.0247C67.6076 23.7019 68.2196 23.5405 68.9228 23.5405C69.3766 23.5405 69.8049 23.614 70.2076 23.761C70.6135 23.9048 70.9714 24.1286 71.2814 24.4322C71.5946 24.7358 71.8407 25.1225 72.0197 25.5923C72.1987 26.0589 72.2882 26.6151 72.2882 27.2607V27.7928H66.2525V26.623H70.6247C70.6215 26.2907 70.5495 25.995 70.4089 25.7362C70.2683 25.4741 70.0717 25.2679 69.8193 25.1177C69.57 24.9675 69.2791 24.8924 68.9467 24.8924C68.592 24.8924 68.2804 24.9787 68.0119 25.1513C67.7434 25.3207 67.5341 25.5444 67.3839 25.8224C67.2369 26.0973 67.1618 26.3993 67.1586 26.7285V27.7496C67.1586 28.1779 67.2369 28.5455 67.3935 28.8523C67.5501 29.1559 67.769 29.3892 68.0503 29.5522C68.3315 29.712 68.6607 29.7919 69.0378 29.7919C69.2903 29.7919 69.5188 29.7567 69.7234 29.6864C69.9279 29.6129 70.1053 29.5059 70.2555 29.3652C70.4057 29.2246 70.5192 29.0504 70.5959 28.8427L72.2163 29.0249C72.114 29.4531 71.919 29.8271 71.6314 30.1467C71.347 30.4631 70.9826 30.7092 70.5384 30.8849C70.0941 31.0575 69.5859 31.1438 69.0139 31.1438ZM80.6563 25.5827L79.0743 25.7553C79.0295 25.5955 78.9512 25.4453 78.8394 25.3047C78.7307 25.1641 78.5837 25.0506 78.3983 24.9643C78.213 24.878 77.986 24.8349 77.7176 24.8349C77.3564 24.8349 77.0528 24.9132 76.8067 25.0698C76.5638 25.2264 76.444 25.4293 76.4472 25.6786C76.444 25.8928 76.5223 26.0669 76.6821 26.2012C76.8451 26.3354 77.1135 26.4457 77.4875 26.532L78.7435 26.8004C79.4402 26.9506 79.958 27.1887 80.2968 27.5147C80.6387 27.8407 80.8113 28.2674 80.8145 28.7947C80.8113 29.2582 80.6755 29.6673 80.407 30.022C80.1418 30.3736 79.7726 30.6484 79.2996 30.8466C78.8266 31.0447 78.2833 31.1438 77.6696 31.1438C76.7684 31.1438 76.0429 30.9553 75.4931 30.5781C74.9434 30.1978 74.6158 29.6689 74.5104 28.9913L76.2027 28.8283C76.2794 29.1607 76.4424 29.4116 76.6916 29.581C76.9409 29.7504 77.2653 29.835 77.6648 29.835C78.0771 29.835 78.4079 29.7504 78.6572 29.581C78.9097 29.4116 79.0359 29.2022 79.0359 28.9529C79.0359 28.742 78.9544 28.5678 78.7914 28.4304C78.6316 28.293 78.3823 28.1875 78.0436 28.114L76.7875 27.8503C76.0812 27.7033 75.5587 27.4556 75.2199 27.1072C74.8811 26.7557 74.7133 26.3114 74.7165 25.7745C74.7133 25.3207 74.8364 24.9276 75.0856 24.5952C75.3381 24.2596 75.6881 24.0007 76.1355 23.8185C76.5862 23.6332 77.1055 23.5405 77.6936 23.5405C78.5565 23.5405 79.2357 23.7243 79.7311 24.0918C80.2296 24.4593 80.5381 24.9563 80.6563 25.5827ZM86.5375 31.1438C85.8025 31.1438 85.1712 30.9824 84.6439 30.6596C84.1197 30.3368 83.7155 29.891 83.431 29.3221C83.1498 28.75 83.0091 28.0916 83.0091 27.3469C83.0091 26.5991 83.153 25.9391 83.4406 25.367C83.7282 24.7917 84.1341 24.3443 84.6583 24.0247C85.1856 23.7019 85.8088 23.5405 86.528 23.5405C87.1256 23.5405 87.6546 23.6507 88.1148 23.8713C88.5782 24.0886 88.9473 24.397 89.2222 24.7965C89.4971 25.1928 89.6537 25.6562 89.692 26.1868H88.0333C87.9662 25.832 87.8064 25.5364 87.5539 25.2999C87.3046 25.0602 86.9706 24.9403 86.5519 24.9403C86.1972 24.9403 85.8856 25.0362 85.6171 25.228C85.3486 25.4165 85.1393 25.6882 84.9891 26.043C84.8421 26.3977 84.7685 26.8228 84.7685 27.3182C84.7685 27.82 84.8421 28.2514 84.9891 28.6126C85.1361 28.9705 85.3422 29.247 85.6075 29.4419C85.876 29.6337 86.1908 29.7296 86.5519 29.7296C86.8076 29.7296 87.0361 29.6816 87.2375 29.5858C87.442 29.4867 87.613 29.3445 87.7504 29.1591C87.8879 28.9737 87.9821 28.7484 88.0333 28.4831H89.692C89.6505 29.0041 89.4971 29.4659 89.2318 29.8686C88.9665 30.2681 88.6054 30.5813 88.1483 30.8082C87.6913 31.032 87.1544 31.1438 86.5375 31.1438ZM94.316 31.1486C93.8494 31.1486 93.4291 31.0655 93.0552 30.8993C92.6844 30.7299 92.3904 30.4806 92.1731 30.1515C91.9589 29.8223 91.8519 29.4164 91.8519 28.9338C91.8519 28.5183 91.9286 28.1747 92.082 27.9031C92.2354 27.6314 92.4447 27.4141 92.71 27.2511C92.9753 27.0881 93.2741 26.965 93.6065 26.8819C93.9421 26.7956 94.2888 26.7333 94.6468 26.695C95.0783 26.6502 95.4282 26.6103 95.6967 26.5751C95.9652 26.5368 96.1601 26.4792 96.2816 26.4025C96.4062 26.3226 96.4685 26.1996 96.4685 26.0334V26.0046C96.4685 25.6435 96.3615 25.3638 96.1473 25.1657C95.9332 24.9675 95.6248 24.8684 95.2221 24.8684C94.797 24.8684 94.4598 24.9611 94.2105 25.1465C93.9644 25.3319 93.7982 25.5508 93.712 25.8033L92.0916 25.5732C92.2194 25.1257 92.4304 24.7518 92.7244 24.4513C93.0184 24.1477 93.378 23.9208 93.803 23.7706C94.2281 23.6172 94.6979 23.5405 95.2125 23.5405C95.5672 23.5405 95.9204 23.582 96.272 23.6651C96.6235 23.7482 96.9447 23.8857 97.2356 24.0774C97.5264 24.266 97.7597 24.5233 97.9355 24.8493C98.1145 25.1752 98.204 25.5827 98.204 26.0717V31H96.5356V29.9885H96.4781C96.3726 30.193 96.224 30.3848 96.0323 30.5637C95.8437 30.7395 95.6056 30.8817 95.318 30.9904C95.0335 31.0959 94.6995 31.1486 94.316 31.1486ZM94.7666 29.8734C95.115 29.8734 95.417 29.8047 95.6727 29.6673C95.9284 29.5266 96.125 29.3413 96.2624 29.1112C96.403 28.881 96.4733 28.6301 96.4733 28.3585V27.4908C96.419 27.5355 96.3263 27.5771 96.1953 27.6154C96.0674 27.6538 95.9236 27.6873 95.7638 27.7161C95.604 27.7449 95.4458 27.7704 95.2892 27.7928C95.1326 27.8152 94.9968 27.8343 94.8817 27.8503C94.6228 27.8855 94.3911 27.943 94.1866 28.0229C93.982 28.1028 93.8206 28.2147 93.7024 28.3585C93.5841 28.4991 93.525 28.6813 93.525 28.905C93.525 29.2246 93.6416 29.4659 93.875 29.6289C94.1083 29.7919 94.4055 29.8734 94.7666 29.8734ZM101.029 31V23.6364H102.712V24.8636H102.788C102.923 24.4386 103.153 24.111 103.479 23.8809C103.808 23.6475 104.183 23.5309 104.605 23.5309C104.701 23.5309 104.808 23.5357 104.927 23.5453C105.048 23.5517 105.149 23.5629 105.229 23.5788V25.1752C105.155 25.1497 105.038 25.1273 104.879 25.1081C104.722 25.0858 104.57 25.0746 104.423 25.0746C104.107 25.0746 103.822 25.1433 103.57 25.2807C103.321 25.415 103.124 25.6019 102.98 25.8416C102.836 26.0813 102.764 26.3578 102.764 26.671V31H101.029ZM110.361 33.9148C109.738 33.9148 109.202 33.8301 108.755 33.6607C108.307 33.4945 107.948 33.2708 107.676 32.9895C107.404 32.7083 107.216 32.3967 107.11 32.0547L108.673 31.676C108.744 31.8198 108.846 31.962 108.98 32.1026C109.114 32.2464 109.295 32.3647 109.522 32.4574C109.752 32.5533 110.041 32.6012 110.389 32.6012C110.882 32.6012 111.289 32.4814 111.612 32.2417C111.935 32.0051 112.096 31.6152 112.096 31.0719V29.6768H112.01C111.92 29.8558 111.789 30.0396 111.617 30.2282C111.447 30.4167 111.222 30.5749 110.941 30.7028C110.663 30.8306 110.313 30.8945 109.891 30.8945C109.325 30.8945 108.812 30.7619 108.352 30.4966C107.895 30.2282 107.531 29.8287 107.259 29.2981C106.991 28.7644 106.856 28.0964 106.856 27.2942C106.856 26.4856 106.991 25.8033 107.259 25.2472C107.531 24.6879 107.897 24.2644 108.357 23.9767C108.817 23.6859 109.33 23.5405 109.896 23.5405C110.327 23.5405 110.682 23.614 110.96 23.761C111.241 23.9048 111.465 24.079 111.631 24.2836C111.797 24.4849 111.924 24.6751 112.01 24.854H112.106V23.6364H113.817V31.1199C113.817 31.7495 113.667 32.2704 113.367 32.6827C113.066 33.095 112.655 33.4034 112.135 33.608C111.614 33.8125 111.022 33.9148 110.361 33.9148ZM110.375 29.533C110.743 29.533 111.056 29.4435 111.315 29.2646C111.574 29.0856 111.77 28.8283 111.904 28.4927C112.039 28.1571 112.106 27.7544 112.106 27.2846C112.106 26.8212 112.039 26.4153 111.904 26.0669C111.773 25.7186 111.578 25.4485 111.32 25.2567C111.064 25.0618 110.749 24.9643 110.375 24.9643C109.988 24.9643 109.666 25.065 109.407 25.2663C109.148 25.4677 108.953 25.7441 108.822 26.0957C108.691 26.4441 108.625 26.8404 108.625 27.2846C108.625 27.7353 108.691 28.13 108.822 28.4688C108.956 28.8043 109.153 29.0664 109.412 29.255C109.674 29.4403 109.995 29.533 110.375 29.533ZM118.795 31.1486C118.328 31.1486 117.908 31.0655 117.534 30.8993C117.163 30.7299 116.869 30.4806 116.652 30.1515C116.438 29.8223 116.331 29.4164 116.331 28.9338C116.331 28.5183 116.407 28.1747 116.561 27.9031C116.714 27.6314 116.924 27.4141 117.189 27.2511C117.454 27.0881 117.753 26.965 118.085 26.8819C118.421 26.7956 118.768 26.7333 119.126 26.695C119.557 26.6502 119.907 26.6103 120.175 26.5751C120.444 26.5368 120.639 26.4792 120.76 26.4025C120.885 26.3226 120.947 26.1996 120.947 26.0334V26.0046C120.947 25.6435 120.84 25.3638 120.626 25.1657C120.412 24.9675 120.104 24.8684 119.701 24.8684C119.276 24.8684 118.939 24.9611 118.689 25.1465C118.443 25.3319 118.277 25.5508 118.191 25.8033L116.57 25.5732C116.698 25.1257 116.909 24.7518 117.203 24.4513C117.497 24.1477 117.857 23.9208 118.282 23.7706C118.707 23.6172 119.177 23.5405 119.691 23.5405C120.046 23.5405 120.399 23.582 120.751 23.6651C121.102 23.7482 121.424 23.8857 121.714 24.0774C122.005 24.266 122.238 24.5233 122.414 24.8493C122.593 25.1752 122.683 25.5827 122.683 26.0717V31H121.014V29.9885H120.957C120.851 30.193 120.703 30.3848 120.511 30.5637C120.322 30.7395 120.084 30.8817 119.797 30.9904C119.512 31.0959 119.178 31.1486 118.795 31.1486ZM119.245 29.8734C119.594 29.8734 119.896 29.8047 120.151 29.6673C120.407 29.5266 120.604 29.3413 120.741 29.1112C120.882 28.881 120.952 28.6301 120.952 28.3585V27.4908C120.898 27.5355 120.805 27.5771 120.674 27.6154C120.546 27.6538 120.402 27.6873 120.243 27.7161C120.083 27.7449 119.925 27.7704 119.768 27.7928C119.611 27.8152 119.476 27.8343 119.36 27.8503C119.102 27.8855 118.87 27.943 118.665 28.0229C118.461 28.1028 118.299 28.2147 118.181 28.3585C118.063 28.4991 118.004 28.6813 118.004 28.905C118.004 29.2246 118.12 29.4659 118.354 29.6289C118.587 29.7919 118.884 29.8734 119.245 29.8734ZM131.328 25.5827L129.746 25.7553C129.701 25.5955 129.623 25.4453 129.511 25.3047C129.402 25.1641 129.255 25.0506 129.07 24.9643C128.884 24.878 128.657 24.8349 128.389 24.8349C128.028 24.8349 127.724 24.9132 127.478 25.0698C127.235 25.2264 127.115 25.4293 127.119 25.6786C127.115 25.8928 127.194 26.0669 127.353 26.2012C127.516 26.3354 127.785 26.4457 128.159 26.532L129.415 26.8004C130.112 26.9506 130.629 27.1887 130.968 27.5147C131.31 27.8407 131.483 28.2674 131.486 28.7947C131.483 29.2582 131.347 29.6673 131.078 30.022C130.813 30.3736 130.444 30.6484 129.971 30.8466C129.498 31.0447 128.955 31.1438 128.341 31.1438C127.44 31.1438 126.714 30.9553 126.165 30.5781C125.615 30.1978 125.287 29.6689 125.182 28.9913L126.874 28.8283C126.951 29.1607 127.114 29.4116 127.363 29.581C127.612 29.7504 127.937 29.835 128.336 29.835C128.749 29.835 129.079 29.7504 129.329 29.581C129.581 29.4116 129.707 29.2022 129.707 28.9529C129.707 28.742 129.626 28.5678 129.463 28.4304C129.303 28.293 129.054 28.1875 128.715 28.114L127.459 27.8503C126.753 27.7033 126.23 27.4556 125.891 27.1072C125.553 26.7557 125.385 26.3114 125.388 25.7745C125.385 25.3207 125.508 24.9276 125.757 24.5952C126.01 24.2596 126.36 24.0007 126.807 23.8185C127.258 23.6332 127.777 23.5405 128.365 23.5405C129.228 23.5405 129.907 23.7243 130.402 24.0918C130.901 24.4593 131.209 24.9563 131.328 25.5827Z"
                        fill="currentColor"></path>
                      <path
                        d="M310.708 19.7301C311.335 19.7344 311.944 19.8452 312.536 20.0625C313.133 20.2756 313.67 20.625 314.147 21.1108C314.624 21.5923 315.004 22.2379 315.285 23.0476C315.566 23.8572 315.707 24.8587 315.707 26.0518C315.711 27.1768 315.592 28.1825 315.349 29.0689C315.11 29.951 314.767 30.6967 314.32 31.3061C313.872 31.9155 313.333 32.38 312.702 32.6996C312.072 33.0192 311.362 33.179 310.574 33.179C309.747 33.179 309.014 33.017 308.375 32.6932C307.74 32.3693 307.227 31.9261 306.835 31.3636C306.442 30.8011 306.202 30.1577 306.112 29.4332H308.445C308.565 29.9531 308.808 30.3665 309.174 30.6733C309.545 30.9759 310.011 31.1271 310.574 31.1271C311.482 31.1271 312.18 30.733 312.67 29.9446C313.161 29.1562 313.406 28.0611 313.406 26.6591H313.316C313.107 27.0341 312.837 27.358 312.504 27.6307C312.172 27.8991 311.795 28.1058 311.373 28.2507C310.955 28.3956 310.512 28.468 310.043 28.468C309.276 28.468 308.586 28.2848 307.972 27.9183C307.363 27.5518 306.879 27.049 306.521 26.4098C306.168 25.7706 305.989 25.0398 305.984 24.2173C305.984 23.3651 306.18 22.6001 306.572 21.9226C306.969 21.2408 307.521 20.7038 308.228 20.3118C308.935 19.9155 309.762 19.7216 310.708 19.7301ZM310.714 21.6477C310.254 21.6477 309.839 21.7607 309.468 21.9865C309.102 22.2081 308.812 22.5107 308.599 22.8942C308.39 23.2734 308.286 23.6974 308.286 24.1662C308.29 24.6307 308.394 25.0526 308.599 25.4318C308.808 25.8111 309.091 26.1115 309.449 26.3331C309.811 26.5547 310.224 26.6655 310.689 26.6655C311.034 26.6655 311.356 26.5994 311.654 26.4673C311.952 26.3352 312.212 26.152 312.434 25.9176C312.66 25.679 312.835 25.4084 312.958 25.1058C313.086 24.8033 313.148 24.4837 313.143 24.147C313.143 23.6996 313.037 23.2862 312.824 22.907C312.615 22.5277 312.327 22.223 311.961 21.9929C311.599 21.7628 311.183 21.6477 310.714 21.6477ZM323.826 33.179C322.974 33.179 322.211 33.0192 321.538 32.6996C320.865 32.3757 320.33 31.9325 319.934 31.37C319.542 30.8075 319.333 30.1641 319.307 29.4396H321.608C321.651 29.9766 321.883 30.4155 322.305 30.7564C322.727 31.093 323.234 31.2614 323.826 31.2614C324.291 31.2614 324.704 31.1548 325.066 30.9418C325.429 30.7287 325.714 30.4325 325.923 30.0533C326.132 29.674 326.234 29.2415 326.23 28.7557C326.234 28.2614 326.13 27.8224 325.917 27.4389C325.703 27.0554 325.412 26.755 325.041 26.5376C324.67 26.3161 324.244 26.2053 323.762 26.2053C323.37 26.201 322.985 26.2734 322.605 26.4226C322.226 26.5717 321.926 26.7678 321.704 27.0107L319.563 26.6591L320.247 19.9091H327.841V21.8906H322.209L321.832 25.3615H321.909C322.152 25.076 322.495 24.8395 322.938 24.652C323.381 24.4602 323.867 24.3643 324.395 24.3643C325.188 24.3643 325.895 24.5518 326.517 24.9268C327.14 25.2976 327.63 25.8089 327.988 26.4609C328.346 27.1129 328.525 27.8587 328.525 28.6982C328.525 29.5632 328.324 30.3345 327.924 31.0121C327.527 31.6854 326.976 32.2159 326.268 32.6037C325.565 32.9872 324.751 33.179 323.826 33.179ZM333.117 33.1406C332.73 33.1406 332.397 33.0043 332.12 32.7315C331.843 32.4588 331.707 32.1264 331.711 31.7344C331.707 31.3509 331.843 31.0227 332.12 30.75C332.397 30.4773 332.73 30.3409 333.117 30.3409C333.492 30.3409 333.818 30.4773 334.095 30.75C334.377 31.0227 334.519 31.3509 334.524 31.7344C334.519 31.9943 334.451 32.2308 334.319 32.4439C334.191 32.657 334.021 32.8274 333.808 32.9553C333.599 33.0788 333.369 33.1406 333.117 33.1406ZM342.034 19.9091V33H339.663V22.2166H339.586L336.525 24.1726V21.9993L339.778 19.9091H342.034ZM351.497 33.179C350.576 33.179 349.758 33.0213 349.042 32.706C348.33 32.3906 347.768 31.9517 347.354 31.3892C346.941 30.8267 346.722 30.1768 346.696 29.4396H349.099C349.121 29.7933 349.238 30.1023 349.451 30.3665C349.664 30.6264 349.948 30.8288 350.301 30.9737C350.655 31.1186 351.051 31.1911 351.49 31.1911C351.959 31.1911 352.374 31.1101 352.737 30.9482C353.099 30.782 353.382 30.5518 353.587 30.2578C353.791 29.9638 353.891 29.625 353.887 29.2415C353.891 28.8452 353.789 28.4957 353.58 28.1932C353.372 27.8906 353.069 27.6541 352.673 27.4837C352.281 27.3132 351.808 27.228 351.254 27.228H350.097V25.3999H351.254C351.71 25.3999 352.108 25.321 352.449 25.1634C352.794 25.0057 353.065 24.7841 353.261 24.4986C353.457 24.2088 353.553 23.8743 353.548 23.495C353.553 23.1243 353.47 22.8026 353.299 22.5298C353.133 22.2528 352.896 22.0376 352.59 21.8842C352.287 21.7308 351.931 21.6541 351.522 21.6541C351.122 21.6541 350.751 21.7266 350.41 21.8714C350.069 22.0163 349.794 22.223 349.585 22.4915C349.376 22.7557 349.266 23.071 349.253 23.4375H346.971C346.988 22.7045 347.199 22.0611 347.604 21.5071C348.013 20.9489 348.558 20.5142 349.24 20.2031C349.922 19.8878 350.687 19.7301 351.535 19.7301C352.408 19.7301 353.167 19.8942 353.81 20.2223C354.458 20.5462 354.959 20.983 355.313 21.5327C355.666 22.0824 355.843 22.6896 355.843 23.3544C355.847 24.0916 355.63 24.7095 355.191 25.2081C354.756 25.7067 354.185 26.0327 353.478 26.1861V26.2884C354.398 26.4162 355.104 26.7571 355.594 27.3111C356.088 27.8608 356.333 28.5447 356.329 29.3629C356.329 30.0959 356.12 30.7521 355.702 31.3317C355.289 31.907 354.718 32.3587 353.989 32.6868C353.265 33.0149 352.434 33.179 351.497 33.179ZM359.726 30.571V28.6854L365.281 19.9091H366.854V22.5938H365.895L362.155 28.5192V28.6214H369.909V30.571H359.726ZM365.971 33V29.9957L365.997 29.152V19.9091H368.234V33H365.971Z"
                        fill="currentColor"></path>
                    </g>
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M3 123C3 123 14.3298 94.153 35.1282 88.0957C55.9266 82.0384 65.9333 80.5508 65.9333 80.5508C65.9333 80.5508 80.699 80.5508 92.1777 80.5508C103.656 80.5508 100.887 63.5348 109.06 63.5348C117.233 63.5348 117.217 91.9728 124.78 91.9728C132.343 91.9728 142.264 78.03 153.831 80.5508C165.398 83.0716 186.825 91.9728 193.761 91.9728C200.697 91.9728 206.296 63.5348 214.07 63.5348C221.844 63.5348 238.653 93.7771 244.234 91.9728C249.814 90.1684 258.8 60 266.19 60C272.075 60 284.1 88.057 286.678 88.0957C294.762 88.2171 300.192 72.9284 305.423 72.9284C312.323 72.9284 323.377 65.2437 335.553 63.5348C347.729 61.8259 348.218 82.07 363.639 80.5508C367.875 80.1335 372.949 82.2017 376.437 87.1008C379.446 91.3274 381.054 97.4325 382.521 104.647C383.479 109.364 382.521 123 382.521 123"
                      fill="url(#paint0_linear_0_106)"></path>
                    <path
                      class="text-indigo-600/60"
                      d="M3 121.077C3 121.077 15.3041 93.6691 36.0195 87.756C56.7349 81.8429 66.6632 80.9723 66.6632 80.9723C66.6632 80.9723 80.0327 80.9723 91.4656 80.9723C102.898 80.9723 100.415 64.2824 108.556 64.2824C116.696 64.2824 117.693 92.1332 125.226 92.1332C132.759 92.1332 142.07 78.5115 153.591 80.9723C165.113 83.433 186.092 92.1332 193 92.1332C199.908 92.1332 205.274 64.2824 213.017 64.2824C220.76 64.2824 237.832 93.8946 243.39 92.1332C248.948 90.3718 257.923 60.5 265.284 60.5C271.145 60.5 283.204 87.7182 285.772 87.756C293.823 87.8746 299.2 73.0802 304.411 73.0802C311.283 73.0802 321.425 65.9506 333.552 64.2824C345.68 62.6141 346.91 82.4553 362.27 80.9723C377.629 79.4892 383 106.605 383 106.605"
                      stroke="currentColor"
                      stroke-width="3"></path>
                    <defs>
                      <linearGradient
                        id="paint0_linear_0_106"
                        x1="3"
                        y1="60"
                        x2="3"
                        y2="123"
                        gradientUnits="userSpaceOnUse"
                      >
                        <stop
                          class="text-purple-600/80"
                          stop-color="currentColor"></stop>
                        <stop
                          class="text-white dark:text-transparent"
                          offset="1"
                          stop-color="currentColor"
                          stop-opacity="0.103775"></stop>
                      </linearGradient>
                      <clip-path id="clip0_0_106">
                        <rect
                          width="358"
                          height="30"
                          fill="white"
                          transform="translate(14 14)"></rect>
                      </clip-path>
                    </defs>
                  </svg>
                </div>
                <div class="relative z-10 mt-8 space-y-1.5 text-center">
                  <h2 class="text-lg font-medium text-foreground">
                    La biblioteca preferida
                  </h2>
                  <p class="text-muted-foreground">
                    Con más de 90 mil descargas desde su lanzamiento en 2017.
                  </p>
                </div>
              </div>
            </div>

            {/* Second row */}
            <div
              class="relative col-span-full overflow-hidden rounded-2xl border bg-background p-8 lg:col-span-3"
            >
              <div class="grid sm:grid-cols-2">
                <div
                  class="relative z-10 flex flex-col justify-between space-y-12 lg:space-y-6"
                >
                  <div
                    class="relative flex aspect-square size-12 rounded-full border before:absolute before:-inset-2 before:rounded-full before:border dark:border-white/10 dark:bg-white/5 dark:before:border-white/5 dark:before:bg-white/5"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="1"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="m-auto size-6"
                      ><path
                        d="M4 19.5v-15A2.5 2.5 0 0 1 6.5 2H19a1 1 0 0 1 1 1v18a1 1 0 0 1-1 1H6.5a1 1 0 0 1 0-5H20"
                      ></path><path d="M8 11h8"></path><path d="M8 7h6"
                      ></path></svg
                    >
                  </div>
                  <div class="space-y-2">
                    <h2 class="text-lg font-medium text-foreground">
                      Documentación
                    </h2>
                    <p class="text-muted-foreground">
                      Incluye una completa documentación para integrarte fácil y rápido.
                    </p>
                  </div>
                </div>
                <div
                  class="relative -mb-10 -mr-10 mt-8 h-fit rounded-tl-xl border bg-muted/30 pt-6 sm:ml-6 sm:mt-auto"
                >
                  <div class="absolute left-3 top-2 flex gap-1">
                    <span
                      class="block size-2 rounded-full border border-border bg-[#FF605C]"
                    ></span>
                    <span
                      class="block size-2 rounded-full border border-border bg-[#FFBD44]"
                    ></span>
                    <span
                      class="block size-2 rounded-full border border-border bg-[#00CA4E]"
                    ></span>
                  </div>
                  <img
                    src="/images/others/screenshot-docs.png"
                    alt="screenshot docs"
                  />
                </div>
              </div>
            </div>

            <div
              class="relative col-span-full overflow-hidden rounded-2xl border bg-background p-8 lg:col-span-3"
            >
              <div class="grid h-full sm:grid-cols-2">
                <div
                  class="relative z-10 flex flex-col justify-between space-y-12 lg:space-y-6"
                >
                  <div
                    class="relative flex aspect-square size-12 rounded-full border before:absolute before:-inset-2 before:rounded-full before:border dark:border-white/10 dark:bg-white/5 dark:before:border-white/5 dark:before:bg-white/5"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="1"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="m-auto size-6"
                      ><path
                        d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"
                      ></path><path
                        d="M12 5 9.04 7.96a2.17 2.17 0 0 0 0 3.08c.82.82 2.13.85 3 .07l2.07-1.9a2.82 2.82 0 0 1 3.79 0l2.96 2.66"
                      ></path><path d="m18 15-2-2"></path><path d="m15 18-2-2"
                      ></path></svg
                    >
                  </div>
                  <div class="space-y-2">
                    <h2 class="text-lg font-medium text-foreground">
                      Ayuda personalizada
                    </h2>
                    <p class="text-muted-foreground">
                      Contáctanos por email o Discord y estaremos para ayudarte con la integración
                    </p>
                  </div>
                </div>
                <div
                  class="relative mt-6 before:absolute before:inset-0 before:mx-auto before:w-px before:bg-purple-500/50 sm:-my-8 sm:-mr-8"
                >
                  <div
                    class="relative flex h-full flex-col justify-center space-y-6 py-6"
                  >
                    <div
                      class="relative flex w-[calc(50%+0.875rem)] items-center justify-end gap-2"
                    >
                      <span
                        class="block h-fit rounded-md border bg-muted/50 px-2 py-1 text-xs"
                      >
                        Tengo un error
                      </span>
                      <div class="size-7 ring-4 ring-background">
                        <Image
                          width={100}
                          height={100}
                          class="size-full rounded-full border"
                          src="/images/others/randomuser.jpg"
                          alt="fake-avatar"
                        />
                      </div>
                    </div>
                    <div
                      class="relative ml-[calc(50%-1rem)] flex items-center gap-2"
                    >
                      <div class="size-8 ring-4 ring-background">
                        <Image
                          width={100}
                          height={100}
                          class="size-full rounded-full border"
                          src="/images/blog/ivan.jpg"
                          alt="ivan-avatar"
                        />
                      </div>
                      <span
                        class="block h-fit rounded-md border bg-muted/50 px-2 py-1 text-xs"
                      >
                        Me mostras el codigo?
                      </span>
                    </div>
                    <div
                      class="relative flex w-[calc(50%+0.875rem)] items-center justify-end gap-2"
                    >
                      <span
                        class="block h-fit rounded-md border bg-muted/50 px-2 py-1 text-xs"
                      >
                        Va
                      </span>
                      <div class="size-7 ring-4 ring-background">
                        <Image
                          width={100}
                          height={100}
                          class="size-full rounded-full border"
                          src="/images/others/randomuser.jpg"
                          alt="fake-avatar"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="open-source" class="px-5 py-8 md:py-12 lg:py-28 bg-[#15181d]">
    <div
      class="mx-auto flex max-w-[78rem] flex-col items-center justify-center gap-4 text-center"
    >
      <h2
        class="font-heading text-3xl leading-[1.1] sm:text-3xl md:text-4xl mb-5"
      >
        Confian en nosotros
      </h2>
      <p
        class="max-w-[85%] leading-normal text-muted-foreground sm:text-lg sm:leading-7 gap-4"
      >
        <a
          target="_blank"
          class="mx-2 my-2 inline-block"
          href="https://afluenta.com/"
          ><img
            class="h-[40px] inline-block"
            alt="afluenta"
            src="/images/customers/afluenta.png"
          /></a
        >
        <a
          target="_blank"
          class="mx-2 my-2 inline-block"
          href="https://www.tiendanube.com/"
          ><img
            class="h-[40px] inline-block"
            alt="tiendanube"
            src="/images/customers/tiendanube.png"
          /></a
        >
        <a
          target="_blank"
          class="mx-2 my-2 inline-block"
          href="https://www.rappi.com/"
          ><img
            class="h-[40px] inline-block"
            alt="rappi"
            src="/images/customers/rappi.png"
          /></a
        >
        <a
          target="_blank"
          class="mx-2 my-2 inline-block"
          href="https://www.depilife.com.ar/"
          ><img
            class="h-[40px] inline-block"
            alt="depilife"
            src="/images/customers/depilife.png"
          /></a
        >
        <a
          target="_blank"
          class="mx-2 my-2 inline-block"
          href="https://www.ecomm-app.com/"
          ><img
            class="h-[40px] inline-block"
            alt="ecomm-app"
            src="/images/customers/ecomm-app.png"
          /></a
        >
      </p>
    </div>
  </section>

  <section
    class="relative container max-w-screen-md mb-28 mt-16 sm:mt-20 lg:mt-28"
  >
    <div class="flex h-full flex-col justify-between">
      <div class="grid gap-8 sm:grid-cols-2 text-center">
        <div>
          <h1 class="text-4xl font-heading text-foreground">¿Alguna duda?</h1>
        </div>
        <div>
          <div class="flex items-center justify-center gap-3">
            <a class={buttonVariants()} href={`mailto:${siteConfig.contact}`}>
              <Icon name="lucide:mail" class="mr-2 size-4" />
              Contactanos
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</MainLayout>
