---
import { buttonVariants } from "@/components/ui/button";
import MainLayout from "@/layouts/main-layout.astro";
import { cn } from "@/lib/utils";
import { Icon } from "astro-icon/components";
import { siteConfig } from "@/config/site";
---

<MainLayout title="Precio" mainClass="flex-1 bg-background-200">
  <section
    class="container flex flex-col gap-6 py-8 md:max-w-[64rem] md:py-12 lg:py-24"
  >
    <div class="mx-auto flex w-full flex-col gap-4 md:max-w-[58rem]">
      <h2 class="font-heading text-3xl leading-[1.1] sm:text-3xl md:text-6xl">
        Precio simple
      </h2>
      <p
        class="max-w-[85%] leading-normal text-muted-foreground sm:text-lg sm:leading-7"
      >
        Desbloquea el acceso a producción.
      </p>
    </div>
    <div
      class="grid w-full items-start gap-10 rounded-3xl overflow-hidden border p-10 md:grid-cols-[1fr_200px] bg-background"
    >
      <div class="grid gap-6">
        <h3 class="text-xl font-bold sm:text-2xl">
          Que incluye
        </h3>
        <ul class="grid gap-3 text-sm text-muted-foreground sm:grid-cols-2">
        <li class="flex items-center">
            <Icon name="lucide:check" class="mr-2 size-4" /> Acceso a Producción
        </li>
        <li class="flex items-center">
            <Icon name="lucide:check" class="mr-2 size-4" /> CUITs Ilimitados
        </li>
          <li class="flex items-center">
            <Icon name="lucide:check" class="mr-2 size-4" /> Requests Ilimitados
          </li>
          <li class="flex items-center">
            <Icon name="lucide:check" class="mr-2 size-4" /> Certificados Ilimitados
          </li>
          <li class="flex items-center">
            <Icon name="lucide:check" class="mr-2 size-4" /> PDFs Ilimitados
          </li>
          <li class="flex items-center">
            <Icon name="lucide:check" class="mr-2 size-4" /> Soporte prioritario
          </li>
        </ul>
      </div>
      <div class="flex flex-col gap-4 text-center">
        <div>
          <h4 class="text-5xl font-bold">19 U$D</h4>
          <p class="text-sm font-medium text-muted-foreground">
            Mensual
          </p>
          <p class="text-sm font-medium text-muted-foreground">
            <small>30% de descuento pagando anual</small>
          </p>
        </div>
        <a href={siteConfig.links.productionDocs} target="_blank" rel="noopener noreferrer" class={cn(buttonVariants({ size: "lg" }))}>
          Ir a producción
        </a>
      </div>
    </div>
    <div class="mx-auto flex w-full max-w-[58rem] flex-col gap-4">
        <p class="max-w-[85%] leading-normal text-muted-foreground sm:leading-7">
          Para usarlo en modo desarrollo no necesitas registrarte.
          <strong><a href={siteConfig.links.docs} target="_blank" rel="noopener noreferrer">Ver documentacion</a></strong>
        </p>
    </div>
  </section>
</MainLayout>